*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.box{
    width: 500px;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin: 10px;
}
.box img{
    width: 150px;
    height: 150px;
    /* margin-top: 30px; */
}
.content{
   margin-left: 20px;
   /* margin-top: 30px; */
}
.content h2{
    margin-top: 5px;
   margin-bottom: 10px;
}
.btn{
    padding: 7px 20px;
    border: 1px solid rgba(12, 189, 180, 0.897);
    background-color: transparent;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(119, 218, 213);
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
