@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 210, 219);
    position: relative;
}
.container{
    width: 25%;
    background-color: #fff;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input{
    margin: 1rem auto ;
    width: 90%;
    height: 40px;
    font-size: 1rem;
    padding:0rem 1rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}
.btnContainer{
    /* padding: 0 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
    color: rgb(106, 133, 133);
    font-weight: 600;
    margin-bottom: 0.3rem;
}
.btn{
    width: 20%;
    background-color: rgb(61, 168, 211);
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    font-weight: 550;
    padding: 0.2rem;
    cursor: pointer;
}
.taskContainer{
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}
.settingBtn{
    cursor: pointer;
}
.tasks{
    display: flex;
    gap: 1rem;
}
.dropDown{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #fff;
    border-radius: 5px;
    /* display: none; */
    position: absolute;
    right: 0;
}
.dropDown ul{
    padding: 0.3rem;
}
.dropDown ul li{
    padding:0.2rem;
    cursor: pointer;
}
.dropDown ul li:hover{
    background-color:#D3D3D3;
}
.active{
    color: #2a72c5;
}
 .toggle {
    display: block;

}