@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 210, 219);
}
.box{
    width: 25%;
    height: auto;
    padding: 1rem ;
    background-color: #fff;
    border-radius:8px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   
}
.search_icon{
    position: absolute;
    font-size: 1.3rem;
    left: 0.5rem;
    top: 1.5rem;
}
.volumeIcon{
    font-size: 1.2rem;
    cursor: pointer;
}
.input{
    margin-top: 1rem;
    width: 100%;
    height: 40px;
    /* padding-left: 1rem; */
    font-size: 1rem;
    padding:0rem 2rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
}
.input::placeholder{
    font-weight: 500;
    padding-left: 1rem;
}
.box .inputs{
    position: relative;

}
.box .suggestion{
    font-size: 0.8rem;
    color: gray;
    margin-top: 0.5rem;
}
.contents{
    margin-top: 0.5rem;
    display: none;
    transition: all 1s ease-in-out;
}
.topContainer{
    display: flex;
    justify-content: space-between;
}
.adj{
    font-size: 0.8rem;
}
.meaningCont{
    margin-top: 0.5rem;
}
.meaning{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin: 0.7em;
    padding: 0.5rem;
    border-left: 2px solid rgb(4, 134, 255) ;
}
.synonyms span{
    margin:0 0px;
}

@media screen and (max-width:400px){
    .box{
        width: 90%;
    }
}
@media only screen and (min-width:401px) {
    .box{
        width: 70%;
    }
    .btnCont{
        display: flex;
    }

}
@media only screen and (min-width:900px) {
    .box{
        width: 50%;
    }
    .btnCont{
        display: flex;
    }

}